<h1><%= @contact.full_name %></h1>
<div>
  <%= link_to "Edit contact", edit_contact_path(@contact), method: :get %>
</div>
<div style="padding-top: 1rem;">
  <%= button_to 'Delete', @contact, method: :delete %>
</div>
<h2>Firstname:</h2> 
<p>
  <%= @contact.firstname %>
</p>
<h2>Lastname:</h2> 
<p>
  <%= @contact.lastname %>
</p>
<h2>Phonenumber:</h2> 
<p>
  <%= @contact.phonenumber %>
</p>

<div style="padding: 1rem 0;">
  <%= link_to "All contacts", contacts_path, method: :get %>
</div>
