<h1><%= @contact.full_name %></h1>
<h2>Firstname:</h2> 
<%= @contact.firstname %>
<h2>Lastname:</h2> 
<%= @contact.lastname %>
<h2>Phonenumber:</h2> 
<%= @contact.phonenumber %>

<div>
<%= link_to "All contacts", contacts_path, method: :get %>
</div>
<%= button_to "Edit contact", edit_contact_path(@contact), method: :get %>
<%= button_to 'Delete contact', contact_path(@contact), method: 'delete', data: { confirm: 'Are you sure you want to permanently delete this contact?' } %>